<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Willkommen</title>
  </head>
  <body>
        <h2>Willkommen <%= user %>  </h2>

        <a href="/ueberweisung" class="button">Überweisug ausführen</a>
        <br>
        <a href="/login" class="button">Abmelden</a>
  </body>
</html>