<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Willkommen</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/">
        <p>Kunden-ID<p/>
        <input type="text" title="username" name="kundenId" placeholder="Kunden-ID" />
        <p> Kennwort </p>
        <input type="password" title="username" name="password" placeholder="Passwort" />
        <button>Login</button>
        
    </form>
  <body/>
</html>
