p {
    size:12px;
    font-weight:bold;
 }
H1 { color: rgb(216, 10, 10); font-size: 30pt; line-height: 16pt; letter-spacing: 0.1em; }
button { color: rgb(223, 119, 136)}
h2 { color: rgb(35, 188, 226); font-size: 30pt}
p {color: rgb(12, 164, 184); font-size: 20pt }